.agenda {
  height: 204px;
  margin: auto;
  overflow-y: scroll;

  > div {
    margin-top: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 500;
  }
}

.list-item-task {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .icons {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.2rem;

    span.pre-btn {
      opacity: 0.65;
      transition: 0.2s;
      cursor: pointer;

      svg {
        display: inline;
      }

      &:hover {
        opacity: 1;
      }

      &.check {
        .idle {
          display: inline-block;
        }

        .hover {
          display: none;
        }

        &:hover {
          .idle {
            display: none;
          }

          .hover {
            display: inline-block;
          }
        }
      }
    }
  }

  .todo-notes {
  }
}
