@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .clickable {
        cursor: pointer;
        transition: .1s;

        &:hover {
            transform: scale(1.15);
            @apply bg-gray-300;
        }
    }

    .show-today {
        border: 4px solid rgba(0, 0, 0, .3);
        @apply bg-gray-300;
    }

    .btn-primary {
        @apply py-1 px-2 bg-blue-600 text-white text-sm font-semibold rounded-md shadow-md transition-all
        hover:bg-blue-700
        focus:outline-none focus:ring focus:ring-blue-400 focus:ring-opacity-75;
    }

    .btn-warning {
        @apply py-1 px-2 bg-yellow-600 text-white text-sm font-semibold rounded-md shadow-md transition-all
        hover:bg-yellow-700
        focus:outline-none focus:ring focus:ring-yellow-400 focus:ring-opacity-75;
    }

    .exercise-record {
        @apply bg-gray-200 px-1 py-1 rounded-md flex flex-wrap gap-2 items-center;
    }

    .main-section-grids {
        margin: auto;
        width: calc((280px + 40px) * 3 + 280px);
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 40px;
    }

    .calendar-grid {
        width: 280px;

        tr {
            width: 280px;

            td {
                margin: 0;
                padding: 0;

                .date-div {
                    width: 40px;
                    height: 36px;
                    padding: 4px;
                }
            }
        }

        .head-row {
            th {
                padding: 0;
                height: 24px;
            }
        }
    }

    .calendar-title {
        height: 44px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0 4px 4px 4px;
        padding: 6px 10px;
        border-radius: 3px;
        @apply bg-gray-500
    }

    .streamline,
    .timelines-grids,
    .placed-calendar-management {
        width: calc(280px * 2 + 40px);
    }

    .placed-calendar-management {
        height: 252px;
        overflow-y: auto;
    }

}
